<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" routerLinkActive="active">
              <a (click)="setflagForAnasayfaMetot()" [class]="menuClassAnasayfa()" aria-current="page" routerLink="/cars">Anasayfa</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a (click)="setflagForKiralamalarMetot()" [class]="menuClassKiralamalar()" routerLink="/rentals">Kiralamalar</a>
            </li>
            <app-cart-summary></app-cart-summary>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            
          </ul>
          
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Ara... Ama Neyi :D" aria-label="search">
            <button class="btn btn-outline-success" type="submit">Ara</button>
            
          </form>
          
          
        </div>
        
      </div>
      
  </nav> -->
   
   
<nav class="">
  <header class="p-3 bg-dark text-white">
    <div class="container ">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start navbar">
        <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-2" src="https://i.ibb.co/hg4y31s/logo.png" alt="" width="80" height="40">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/cars" class="nav-link px-2 text-white">Anasayfa</a></li>
          <li><a class="nav-link px-2 text-white" routerLink="/rentals">Kiralamalar</a></li>
          <li><a routerLink="/about-us" class="nav-link px-2 text-white">Hakkımızda</a></li>
          <li><a routerLink="/blog" class="nav-link px-2 text-white">Blog</a></li>
          <app-cart-summary></app-cart-summary>
        </ul>
        
        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form> -->

        <div *ngIf="isSigned()" class="text-end">
          
          <button type="button" class="btn btn-warning" (click)="logOut()">Çıkış Yap</button>
        </div>
        

        <div *ngIf="!isSigned()" class="text-end">
          <button type="button" routerLink="/login" class="btn btn-outline-light me-2">Giriş Yap</button>
          <button type="button" routerLink="/register" class="btn btn-warning">Üye Ol</button>
        </div>
        
      </div>
    </div>
  </header>
</nav>
  
   
