<div class="row">
    <div class="col-sm-4">
        <app-sidebar></app-sidebar>





    </div>
    <div class="col-sm-8">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Araba İşlemleri
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="content">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="title">Araba Ekle</h5>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="carAddForm">
                                            <div class="mb-3">
                                                <label for="modelYear">Model Yılı</label>
                                                <div class="form-group">
                                                    <input type="number" id="modelYear" formControlName="modelYear"
                                                        class="form-control" placeholder="Model Yılı" />
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="brandId">Marka</label>
                                                <div class="form-group">
                                                    <input type="number" id="brandId" formControlName="brandId"
                                                        class="form-control" placeholder="Marka İd" />
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="colorId">Renk</label>
                                                <div class="form-group">
                                                    <input type="number" id="colorId" formControlName="colorId"
                                                        class="form-control" placeholder="Renk İd" />
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="dailyPrice">Günlük Kirası</label>
                                                <div class="form-group">
                                                    <input type="number" id="dailyPrice" formControlName="dailyPrice"
                                                        class="form-control" placeholder="Günlük Kirası" />
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="description">Araç Açıklaması</label>
                                                <div class="form-group">
                                                    <input type="text" id="description" formControlName="description"
                                                        class="form-control" placeholder="Açıklama" />
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-fill btn-primary" (click)="addCar()">Arabayı
                                            Ekle</button>
                                    </div>
                                    <hr>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Markası</th>
                                                <th scope="col">Rengi</th>
                                                <th scope="col">İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let car of cars">

                                                <th scope="row">{{car.brandId}}</th>
                                                <td>{{car.colorId}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                        [attr.data-bs-target]="customIddForCar(car)"
                                                        (click)="aracGetir(car)">
                                                        Aracı Güncelle / Sil
                                                    </button>
                                                    <div class="modal fade " [attr.id]="customIdddForCar(car)"
                                                        tabindex="-1" aria-labelledby="exampleModalLabel"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Aracı
                                                                        Güncelle</h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">

                                                                        <div class="col-sm-6">
                                                                            <form [formGroup]="carDeleteForm">
                                                                                <div class="form-group">

                                                                                    <label for="carIdd">Araç
                                                                                        ID'si</label>
                                                                                    <input readonly type="number"
                                                                                        placeholder="İd" 
                                                                                        formControlName="id">
                                                                                    <label for="brandselect">Marka
                                                                                        ID'si</label>
                                                                                    <!-- <input id="brandIdd" type="number"
                                                                                        placeholder="Marka Id"
                                                                                        formControlName="brandId"> -->
                                                                                        <select formControlName="brandId"  class="form-select" >
                                                                                            <option [ngValue]="undefined" disabled selected>
                                                                                              Marka Seç
                                                                                            </option>
                                                                                            <option
                                                                                              *ngFor="let brand of brands"
                                                                                              [value]="brand.id"
                                                                                              [selected]="brand.id"
                                                                                            >
                                                                                              {{ brand.name }}
                                                                                            </option>
                                                                                          </select>
                                                                                    <label for="colorselect">Renk
                                                                                        ID'si</label>
                                                                                    <!-- <input id="colorIdd" type="number"
                                                                                        placeholder="Renk Id"
                                                                                        formControlName="colorId"> -->
                                                                                        <select formControlName="colorId"  class="form-select" >
                                                                                            <option [ngValue]="undefined" disabled selected>
                                                                                              Renk Seç
                                                                                            </option>
                                                                                            <option
                                                                                              *ngFor="let color of colors"
                                                                                              [value]="color.id"
                                                                                              [selected]="color.id"
                                                                                            >
                                                                                              {{ color.name }}
                                                                                            </option>
                                                                                          </select>
                                                                                    <label for="modelYearr">Model
                                                                                        Yılı</label>
                                                                                    <input  type="number"
                                                                                        placeholder="Model Yılı"
                                                                                        formControlName="modelYear">
                                                                                    <label for="dailyPricee">Günlük
                                                                                        Fiyatı</label>
                                                                                    <input 
                                                                                        type="number"
                                                                                        placeholder="Günlük Fiyatı"
                                                                                        formControlName="dailyPrice">
                                                                                    <label
                                                                                        for="descriptionn">Açıklaması</label>
                                                                                    <textarea 
                                                                                        type="text"
                                                                                        placeholder="Açıklama"
                                                                                        formControlName="description"
                                                                                        rows="4" cols="50"></textarea>
                                                                                </div>
                                                                            </form>
                                                                        </div>



                                                                        <div class="col-sm-6">
                                                                            <button type="button"
                                                                                style="display: block; width: 100%;"
                                                                                (click)="updateCar()"
                                                                                class="btn btn-warning">Güncelle</button>
                                                                            <button type="button"
                                                                                style="display: block; width: 100%;"
                                                                                (click)="deleteCar()"
                                                                                class="btn btn-danger">Sil</button>

                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger"
                                                                        data-bs-dismiss="modal">Kapat</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Renk İşlemleri
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="content">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="title">Renk Ekle</h5>
                                        </div>
                                        <div class="card-body">
                                            <form [formGroup]="colorAddForm">
                                                <div class="mb-3">
                                                    <label for="crname">Renk Adı</label>
                                                    <div class="form-group">
                                                        <input type="text" id="crname" formControlName="name"
                                                            class="form-control" placeholder="Renk" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-fill btn-primary" (click)="addColor()">Rengi
                                                Ekle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Renk Adı</th>
                                        <th scope="col">Renk Id</th>
                                        <th scope="col">İşlem</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let color of colors ">

                                        <th scope="row">{{color.name}}</th>
                                        <td>{{color.id}}</td>
                                        <td>

                                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                [attr.data-bs-target]="customIddForColor(color)"
                                                (click)="rengiGetir(color)">
                                                Rengi Güncelle / Sil
                                            </button>

                                            <div class="modal fade " [attr.id]="customIdddForColor(color)" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Rengi
                                                                Güncelle</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">

                                                                <div class="col-sm-6">
                                                                    <form [formGroup]="colorDeleteForm">
                                                                        <div class="form-group">

                                                                            <input readonly type="number"
                                                                                placeholder="Renk İd"
                                                                                formControlName="id">
                                                                            <input type="text" placeholder="Renk Adı"
                                                                                formControlName="name">
                                                                        </div>
                                                                    </form>
                                                                </div>



                                                                <div class="col-sm-6">
                                                                    <button type="button" (click)="updateColor()"
                                                                        style="display: block; width: 100%;"
                                                                        class="btn btn-warning">Güncelle</button>
                                                                    <button type="button" (click)="deleteColor()"
                                                                        style="display: block; width: 100%;"
                                                                        class="btn btn-danger">Sil</button>

                                                                </div>
                                                            </div>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger"
                                                                data-bs-dismiss="modal">Kapat</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Marka İşlemleri
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="content">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="title">Marka Ekle</h5>
                                        </div>
                                        <div class="card-body">
                                            <form [formGroup]="brandAddForm">
                                                <div class="mb-3">
                                                    <label for="brname">Marka Adı</label>
                                                    <div class="form-group">
                                                        <input type="text" id="brname" formControlName="name"
                                                            class="form-control" placeholder="Marka" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-fill btn-primary" (click)="addBrand()">Markayı
                                                Ekle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Marka Adı</th>
                                        <th scope="col">Marka Id</th>
                                        <th scope="col">işlem</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let brand of brands ">

                                        <th scope="row">{{brand.name}}</th>
                                        <td>{{brand.id}}</td>
                                        <td>


                                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                [attr.data-bs-target]="customIddForBrand(brand)"
                                                (click)="markayiGetir(brand)">
                                                Markayı Güncelle / Sil
                                            </button>

                                            <div class="modal fade " [attr.id]="customIdddForBrand(brand)" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Markayı
                                                                Güncelle</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">

                                                                <div class="col-sm-6">
                                                                    <form [formGroup]="brandDeleteForm">
                                                                        <div class="form-group">

                                                                            <input readonly type="number"
                                                                                placeholder="Marka İd"
                                                                                formControlName="id">
                                                                            <input type="text" placeholder="Marka Adı"
                                                                                formControlName="name">
                                                                        </div>
                                                                    </form>
                                                                </div>



                                                                <div class="col-sm-6">
                                                                    <button type="button" (click)="updateBrand()"
                                                                        style="display: block; width: 100%;"
                                                                        class="btn btn-warning">Güncelle</button>
                                                                    <button type="button" (click)="deleteBrand()"
                                                                        style="display: block; width: 100%;"
                                                                        class="btn btn-danger">Sil</button>

                                                                </div>
                                                            </div>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger"
                                                                data-bs-dismiss="modal">Kapat</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>