<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

<body class="text-center">
<div class="container">
    <main class="form-signin">
        <form [formGroup]="registerForm">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>

            <div class="form-floating">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email adresi</label>
            </div>
            <div class="form-floating">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Şifreniz">
                <label for="floatingPassword">Şifrenizi Girin</label>
            </div>
            <div class="form-floating">
                <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Şifreniz">
                <label for="firstName">Adınız</label>
            </div>
            <div class="form-floating">
                <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Şifreniz">
                <label for="lastName">Soyadınız</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Kullanıcı Politikasını Okudum Onayladım.
                </label>
            </div>
            <button (click)="register()"   class="w-100 btn btn-lg btn-primary" type="submit">Giriş Yap</button>
            <p class="mt-5 mb-3 text-muted">&copy; {{nowDate.getFullYear()}}</p>
        </form>
    </main>
</div>
</body>
