<div class="row">
    <div class="col-sm-4">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-8">
        <div class="content">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">Marka Ekle</h5>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="brandAddForm">
                            <div class="mb-3">
                                <label for="brname">Marka Adı</label>
                                <div class="form-group">
                                    <input type="text" id="brname" formControlName="name" class="form-control"
                                        placeholder="Marka" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-fill btn-primary" (click)="add()" >Markayı Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>