.card{
    display: inline-block;
    margin-left: 1em;
    width: 29% !important;
    margin-bottom: 1em;
    margin-top: 1em;
    
}
#btn-detaylar{
   margin-left: auto;
   margin-right: auto;
}
#cardHeader{
    height: 13rem;
}
@media (max-width:500px)  { 
    .card{
        width: 18rem !important;
        margin-left: 2.2em;
        
    }
 }